#chat {
  width: 100%;
  height: 100vh;
  background: #f5f5f5;
}

#navbar {
  display: inline-block;
  height: 100%;
  width: 20%;
  background: linear-gradient(to bottom, #201932, #000000);
  color: #f5f5f5;
  position: relative;
  overflow: hidden;
}

#userData {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
}

#userData>* {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

#userData .userDataContainer .names {
  font-weight: bold;
  font-size: 1.2em;
}

#userData .messageOrUsername {
  font-size: 0.9em;
}

#userData .userDataIcon {
  font-size: 2.5em;
}

#navbar #userData:hover {
  background: #6714F2;
}

#navbar .navbarIcon {
  font-size: 1.7em;
}

#navbar #navbarItems {
  display: block;
  margin-top: 20px;
}

#navbar .navbarItem {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

#navbar .navbarItem>* {
  margin-left: 15px;
  vertical-align: middle;
}

#navbar .logout {
  position: absolute;
  width: 100%;
  bottom: 10px;
  padding-left: 10px;
}

.navbarItem:hover {
  background-color: #6714F2;
}

.navbarItem.active {
  background-color: #6714F2;
}

#contacts {
  display: inline-block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 30%;
  background: linear-gradient(to bottom, #201932, #060606);
  color: #f5f5f5;
  border-right: 1px solid lightgray;
}

#searchContainer {
  padding: 6px;
}

#baseSearch {
  width: 80%;
  margin: 20px auto;
}

#group {
  display: flex;
}

.searchInput {
  border-radius: 0 30px 30px 0;
  padding: 5px 10px;
  height: 30px;
  width: 100%;
  border: none;
}

.searchInput:focus {
  outline: none !important;
  border: none !important;
}

#searchIcon {
  display: inline-block;
  background: #fff;
  color: gray;
  padding: 6px 0 0 10px;
  border-radius: 30px 0 0 30px;
}

#contacts::-webkit-scrollbar {
  width: 8px;
  background: #2c3e50;
}

#contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}

#contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

#contacts ul li.contact:hover {
  background: rgba(101, 20, 242, 0.50);
}

#contacts ul li.contact.active {
  background: rgba(103, 20, 242, 0.50);
  border-right: 8px solid #6714F2;
}

#contacts #userData {
  border: none;
}

#contacts .newMessages {
  position: absolute;
  font-weight: 700;
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 50%;
  text-align: center;
  background: #6714F2;
  right: 10px;
  bottom: 15px;
}

.content {
  display: inline-block;
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, #201932, #000000);
  background: #f5f5f5;
}

.content #activeContactProfile {
  border-bottom: 1px solid lightgray;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.content #activeContactProfile>#userData {
  display: inline-block;
  border: none;
  width: 50%;
}

.content #activeContactProfile>#userData:hover {
  background: lightgray;
}

.content .dotsMenuIcon {
  font-size: 1.7em;
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  right: 4%;
  top: 20%;
  cursor: pointer;
}

.content .dotsMenuIcon:hover {
  background: lightgray;
}

.content .messages {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

.content .messages ul li {
  display: inline-block;
  margin: 5px 15px 0 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

.content .messages ul li:last-child {
  margin-bottom: 40px;
}

.content .messages ul li.replies p {
  background: linear-gradient(to bottom, #201932, #000000);
  color: #f5f5f5;
}

.content .messages ul li.sent p {
  background: #6714F2;
  color: #f5f5f5;
  float: right;
}

.content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 205px;
  line-height: 130%;
  font-size: 16px;
  margin: 0;
}

.content .messageInput {
  display: flex;
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  z-index: 99;
}

.content .messageInput input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: 100%;
  padding: 14px 32px 8px 8px;
  font-size: 0.8em;
  color: #32465a;
  font-size: 16px;
}

.content .messageInput input:focus {
  outline: none;
}

.content .messageInput button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #6714F2;
  color: #f5f5f5;
  height: 48px;
}

.content .messageInput button:hover {
  background: #6514f2cb;
}

#defaultContent {
  display: inline-block;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  color: lightgray;
  font-size: 5em;
  overflow: hidden;
  font-weight: bold;
  padding-top: 15%;
}

#defaultContent #chatName, #chatIcon {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}